body,
html {
    width: 100%;
    height: 100%;
    background: url(DesignAssets/bckround.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: space-around;
    align-content: space-around;
}