body,
html {
    width: 100%;
    height: 100%;
    background-color: #F9F7F7;
}

.topbar {
    background-color: #3F72AF;
}

.navbar {
    padding: 0;
    font-family: 'Crimson Text', serif;
}

.logo {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 0.2rem;
    pointer-events: none;
}

.logoimage {
    height: 8rem;
    width: 8rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.homePageImg {
    position: relative;
    padding-top: 1rem;
    width: 100%;
}

.homePageText {
    width: 100%;
    position: relative;
    padding-top: 7rem;
    color: #112D4E;
    font-family: 'Crimson Text', serif;
}

.homepageButtons {
    margin: 1.5rem 0 1.5rem 0;
    background-color: #3F72AF;
    border-color: #3F72AF;
    color: #F9F7F7;
    font-family: 'Crimson Text', serif;
}

.homepageButtons:hover {
    background-color: #112D4E;
    border-color: #112D4E;
}

.toggle {
    border-color: #3F72AF;
}

@media (min-width: 600px) {
    .container {
        width: 75%;
        flex-wrap: wrap;
    }

    .topContainer {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 8rem;
    }

    .homePageText {
        width: 50%;
        position: relative;
        color: #112D4E;
        padding-top: 1rem;
        font-family: 'Crimson Text', serif;
    }

    .homePageImg {
        position: relative;
        width: 25%;
    }

    .homepageButtons {}
}