<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VMA Migration Agency</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="indexStyle.css">
    <link rel="icon" href="DesignAssets\logo.jpg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap" rel="stylesheet">
</head>
<body>
<div th:if="${param.success}">
    <div class="alert alert-info">You've successfully registered!</div>
</div>
<h1>Sign Up</h1>
<form action="#" th:action="@{/register}" th:object="${userRegister}" method="post">
    <label for="name">Full Name</label><br>
    <input type="text" id="name" name="username" th:field="*{username}"/><br>
    <div style="color:red" class="alert alert-light" th:if="${#fields.hasErrors('username')}" th:errors="*{username}" role="alert"></div>
    <label for="email">Email</label><br>
    <input type="email" id="email" name="email" th:field="*{email}"/><br>
    <div style="color:red" class="alert alert-light" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" role="alert"></div>
    <label for="password">Password</label><br>
    <input type="password" id="password" name="password" th:field="*{password}"/><br>
    <div style="color:red" class="alert alert-light" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" role="alert" ></div>
    <input type="password" id="confirmPassword" name="confirmPassword" th:field="*{confirmPassword}"><br>
    <div style="color:red" class="alert alert-light" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" role="alert" ></div>
    <button type="submit">Sign Up</button>
</form>
<p>Already have an account? </p>
<a href="index.html">Log in</a>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</html>